@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px !important;
}

ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #2C8FB6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

p {
  font-family: "Open Sans";
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #2E2E3a;
}

.footer .redes {
  display: flex;
  justify-content: center;
}

.redes img {
  width: 50px;
  margin: 20px !important;
}

.header {
  background-color: white;
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 3s;
}

.img-header {
  background-color: #2C8FB6;
  border-bottom: 10px solid #2C8FB6;
  border-top: 10px solid #2C8FB6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  animation-duration: 2s;
}
.img-header img {
  background-color: #2C8FB6;
  width: 180px;
  border-radius: 50%;
  border: 10px solid #2C8FB6;
  box-shadow: 7px 7px 15px -5px #2E2E3a;
  animation-duration: 2s;
}

.menu, .menu-derecha, .menu-izquierda {
  box-shadow: 7px 7px 15px -4px #2E2E3a;
  animation-duration: 2s;
  position: absolute;
  border-radius: 50%;
  top: 40px;
  background-color: #2C8FB6;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
}
.menu i, .menu-derecha i, .menu-izquierda i {
  font-size: 40px;
  color: #2E2E3a;
}

.offcanvas-start .offcanvas-end {
  background-color: #A9DEF9;
  width: 85vw;
}
@media (min-with: 700px) {
  .offcanvas-start .offcanvas-end {
    width: 30vw;
  }
}

.header-menu-izq h2 {
  color: #2C8FB6;
}
.header-menu-izq .img-menu {
  width: 100%;
}

.menu-izquierda {
  left: 5px;
  z-index: 1;
}

.nav-menu ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-menu ul li {
  width: 50%;
  margin-bottom: 30px;
  border-bottom: 1px solid #2E2E3a;
}

.menu-derecha {
  right: 5px;
}

.header-menu-der {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-menu-der img {
  width: 100px;
  border-radius: 50%;
}

.section-menu-der {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-menu-der .video {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-menu-der .video video {
  width: 300px;
}
.section-menu-der p {
  height: 220px;
}

.nombre {
  color: #2C8FB6;
}

.apellido {
  color: #A9DEF9;
}

.subtitulo {
  color: #89a3ae;
}

.descripcion {
  padding: 15px;
  text-align: center;
}
.descripcion p {
  height: 300px;
}

.presentacion {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#comenzar {
  background-color: #89a3ae;
  color: white;
}

.tarjetas-librerias {
  width: 100vw;
}
.tarjetas-librerias p {
  padding: 20px;
}

.tarjeta {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}
.tarjeta p {
  min-height: 50px;
}
.tarjeta img {
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.tarjeta button {
  margin: 10px;
  background-color: #89a3ae;
  color: white;
}
.tarjeta:last-child {
  height: 350px;
}

.main-estudios {
  padding: 20px;
}

.certificados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-with: 700px) {
  .certificados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.certificados img {
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px;
  width: 300px;
}
@media (min-with: 700px) {
  .certificados img {
    width: 500px !important;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  height: 480px;
  max-width: 700px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px !important;
}
.form input {
  margin-bottom: 10px;
  text-align: center;
}

text-area {
  margin-bottom: 10px;
  text-align: center;
}

#btn-enviar {
  height: 50px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #89a3ae;
}

.progress {
  margin-bottom: 10px !important;
  height: 35px !important;
}

.progress-bar {
  background-color: #89a3ae;
}

.barras {
  padding: 30px;
}

.barra-1 {
  animation-duration: 3s;
}

.barra-2 {
  animation-duration: 3.1s;
}

.barra-3 {
  animation-duration: 3.2s;
}

.barra-4 {
  animation-duration: 3.3s;
}

.barra-5 {
  animation-duration: 3.4s;
}

.barra-6 {
  animation-duration: 3.5s;
}

.barra-7 {
  animation-duration: 3.6s;
}

.barra-8 {
  animation-duration: 3.7s;
}

/*# sourceMappingURL=style.css.map */
