
.progress{
    margin-bottom:10px !important;
    height: 35px !important;
}
.progress-bar{
    background-color: $color-primario;
}

.barras{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@for $i from 1 through 8{
    .barra-#{$i}{
        max-width: 500px;
        animation-duration: calc(($i + .2 ) / 1.45) + s;
        @media #{$desktop}{
            width: 50%;
        }
        @media #{$mobile}{
            width: 90%;
        }

    }
}
//Reemplace todo ese codigo de abajo por un bucle for
//le sumo a $i 0.2 y lo divido por 1.45 (sass me recomendo no utilizar / para 
//dividir porque "is deprecated") para crear esa animacion de disminucion de velocidad
//POR SUPUESTO ESTE CODIGO COMENTADO SERA BORRADO
//ES SOLO PARA QUE PUEDAN VER LA MEJORA
// .barra-1 {
//     animation-duration: 3s;
// }

// .barra-2{
//     animation-duration: 3.1s;
// }
// .barra-3{
//     animation-duration: 3.2s;
// }
// .barra-4{
//     animation-duration: 3.3s;
// }
// .barra-5{
//     animation-duration: 3.4s;
// }
// .barra-6{
//     animation-duration: 3.5s;
// }
// .barra-7{
//     animation-duration: 3.6s;
// }
// .barra-8{
//     animation-duration: 3.7s;
// }