
.progress{
    margin-bottom:10px !important;
    height: 35px !important;
}
.progress-bar{
    background-color: $color-terciario;
}

.barras{
    padding: 30px;
    
}
.barra-1 {
    animation-duration: 3s;
}

.barra-2{
    animation-duration: 3.1s;
}
.barra-3{
    animation-duration: 3.2s;
}
.barra-4{
    animation-duration: 3.3s;
}
.barra-5{
    animation-duration: 3.4s;
}
.barra-6{
    animation-duration: 3.5s;
}
.barra-7{
    animation-duration: 3.6s;
}
.barra-8{
    animation-duration: 3.7s;
}