.main-estudios{
    padding: 20px;
}

.certificados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media #{$desktop}{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;    
    }
    img{
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 10px 5px 10px;
        @media #{$desktop}{
            
        }
    }
}
