.bi-circle-fill{
    color: #01cd66;
}
.main-estudios{
    padding: 20px;
    p{
        padding: 5px 30px;
        margin: 0px;
    }
}
.auditorias{
    @media #{$mobile}{
        display: inline-block;
    }
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
.auditoria-mobile,
.auditoria-desktop{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        @media #{$mobile}{
            width: 100%;
        }
        width: 80%;
    }
}
