.tarjetas-librerias{
    @media #{$desktop}{
        width: 60vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        padding: 20px;
    }
}
.tarjeta{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    p{
        min-height: 50px;
    }
    img{
        width: 200px;
        @include transparente;
    }
    button{
        margin: 10px;
        @include button-style;
    }
    &:last-child{
        height: 350px;
    }
}
