@import 'colors.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0px !important;
}
ul{
    list-style: none;
    li{
        a{
            text-decoration: none;
            color: $color-primario;
        }
    }
}
section{
    animation-duration: 2s;
}
