.header{
    background-color: white;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 3s;
}

.img-header{
    
    background-color: $color-primario;
    border-bottom: 10px solid $color-primario;
    border-top: 10px solid $color-primario;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    animation-duration: 2s;
    img{
        background-color: $color-primario;
        width: 180px;
        border-radius: 50%;
        border: 10px solid $color-primario;
        box-shadow: 7px 7px 15px -5px $color-footer;
        animation-duration: 2s;
    }
}

// -- Menu hecho con bootstrap --
// offcanvas
.menu{
    box-shadow: 7px 7px 15px -4px $color-footer;
    animation-duration: 2s;
    position: absolute;
    border-radius: 50%;
    top: 40px;
    background-color: $color-primario;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    i{
        font-size: 40px;
        color: $color-footer;
    }

}
.offcanvas-start .offcanvas-end{
    background-color: $color-secundario;
    width: 85vw;
    @media #{$desktop}{
            width: 30vw;
    }
}

.header-menu-izq{
    h2{
        color: $color-primario;
    }
    .img-menu{
        width: 100%;
    }
}

// -- menu desplegable izquierda --
//icono menu
.menu-izquierda{
    @extend .menu;
    left: 5px;  
    z-index: 1;
}

.nav-menu{
    
    ul{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        li{
            width: 50%;
            margin-bottom: 30px;
            border-bottom: 1px solid $color-footer;
        }
    }
}
// -- Menu desplegable derecha --
//icono
.menu-derecha{
    @extend .menu;
    right: 5px;

}
.header-menu-der{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 100px;
        border-radius: 50%;
    }
}
.section-menu-der{
    display: flex;
    align-items: center;
    flex-direction: column;
    .video{
        display: flex;
        justify-content: center;
        width: 100%;
        video{ 
            width: 300px;
         }
    }
    p{
        height: 220px;
    }
}