.header{
    background-color: white;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    animation-duration: 2s;
    position: absolute;
    border-radius: 50%;
    top: 40px;
    background-color: $color-primario;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    i{
        font-size: 40px;
        color: $color-footer;
    }
}
.menu-izquierda{
    @extend .menu;
    left: 5px; 
    
}
//menu desplegable izquierda
#menu-izq, #menu-der{
    background-color: $color-secundario;
    width: 85vw;
}


.menu-derecha{
    @extend .menu;
    right: 5px;
}
.img-header{
    background-color: $color-primario;
    border-bottom: 10px solid $color-primario;
    border-top: 10px solid $color-primario;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    img{
        background-color: $color-primario;
        width: 180px;
        border-radius: 50%;
        border: 10px solid $color-primario;
    }
}