.nombre{
    color: $color-primario;
}
.apellido{
    color: $color-secundario;
}
.subtitulo{
    color: $color-terciario;
}
.descripcion{
    min-width: 400px;
    min-height: 500px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    p{
        height: 170px;
    }
}
.presentacion{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#comenzar{
    @include button-style;
    max-width: 250px;
}

